html {
    scroll-behavior: smooth;

}

* {
    box-sizing: border-box;
}

body {

    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #c2ab7c;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #eee1c6;

}

.main {

    margin-bottom: auto;
}



.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}

.nav-list {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;



}

.header-container {
    margin: 0 auto;


}

.section {

    width: 50%;
    padding: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #00471b;
}


.section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 5px solid #00471b;
    align-items: center;
}

.section-photo-avatar {
    width: 200px;
    height: 200px;
    padding: 2px 5px;
}

.section-profile-title {
    display: flex;
    flex-direction: row;


}

.first-column {
    width: 40%;
}


@media(max-width:768px) {
    .section {
        width: 100%;
    }
}

.section-title {
    color: #4d2323;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;

}



.main-title {
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #4d2323;


}

.nav-link {
    text-decoration: none;
    padding: 0px 5px;
    transition: .3s;
    color: #fff;
    font-size: 20px;
}

.nav-item a:hover {
    color: #00471b;
}

.section-list {
    list-style: none;
}



.section-item a {
    text-decoration: none;
    color: #4d2323;
    transition: color 0.5s;
}

.section-item a:hover {
    color: #00471b;
}

.section-item {
    position: relative;

}

.section a{
    text-decoration: none;
    color:#c2ab7c;
}

.section a:hover{
    color: #00471b;
}




.contacts-item:nth-child(4)::before {
    background-image: url(../assets/favicon-32x32.png);
}

.contacts-item:nth-child(3)::before {
    background-image: url(../assets/discord-xxl.png);
}

.contacts-item:nth-child(2)::before {
    background-image: url(../assets/Green_Phone_Font-Awesome.svg.png);
}

.contacts-item:nth-child(1)::before {
    background-image: url(../assets/pngaaa.com-203071.png);
}

.contacts-item::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -25px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer {
    background-color: #eee1c6;

}

.rsschool {
    width: 121px;
    height: 45px;
    background-image: url(../images/rs_school_js.svg);
    background-size: contain;
    background-repeat: no-repeat;


}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
}

.footer-container a {
    text-decoration: none;
    color: #4d2323;
}

.footer-container a:hover {
    color: #00471b;
}